<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?><target name="Neon" sequenceNumber="1471541975">
<locations>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.platform.feature.group" version="4.6.0.v20160606-1342"/>
<unit id="org.eclipse.rcp.feature.group" version="4.6.0.v20160606-1342"/>
<unit id="org.eclipse.jdt.feature.group" version="3.12.0.v20160606-1100"/>
<unit id="org.eclipse.equinox.p2.discovery.feature.feature.group" version="1.0.400.v20160504-1450"/>
<unit id="org.eclipse.wst.jsdt.feature.feature.group" version="2.0.0.v201605311817"/>
<unit id="org.eclipse.emf.feature.group" version="2.12.0.v20160526-0356"/>
<unit id="org.eclipse.pde.feature.group" version="3.12.0.v20160606-1100"/>
<unit id="org.eclipse.jdt" version="3.12.0.v20160606-1100"/>
<repository location="http://download.eclipse.org/releases/neon/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.ease.engine.jython.feature.feature.group" version="2.7.0.I201604140914"/>
<repository location="https://bintray.com/artifact/download/pontesegger/ease-engines/"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.eclipse.ease.feature.feature.group" version="0.3.0.I201602290929"/>
<unit id="org.eclipse.ease.ui.feature.feature.group" version="0.3.0.I201605121005"/>
<repository location="http://download.eclipse.org/ease/update/release"/>
</location>
<location includeAllPlatforms="false" includeConfigurePhase="false" includeMode="planner" includeSource="true" type="InstallableUnit">
<unit id="org.hamcrest" version="1.1.0.v20090501071000"/>
<unit id="org.json" version="1.0.0.v201011060100"/>
<unit id="org.apache.commons.lang3" version="3.1.0.v201403281430"/>
<unit id="com.fasterxml.jackson.core.jackson-databind" version="2.5.0.v201504151636"/>
<unit id="com.fasterxml.jackson.core.jackson-annotations" version="2.5.0.v201504151636"/>
<unit id="org.mockito" version="1.9.5.v201605172210"/>
<unit id="org.apache.commons.io" version="2.2.0.v201405211200"/>
<unit id="com.fasterxml.jackson.core.jackson-core" version="2.5.0.v201504151636"/>
<repository location="http://download.eclipse.org/tools/orbit/downloads/drops/R20160520211859/repository/"/>
</location>
</locations>
</target>
