<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ease.modules">
      <module
            category="org.eclipse.ease.jupyter.kernel.module.category"
            class="org.eclipse.ease.jupyter.kernel.module.KernelModule"
            id="org.eclipse.ease.jupyter.kernel.module.module"
            name="Jupyter Kernel"
            visible="true">
      </module>
      <category
            id="org.eclipse.ease.jupyter.kernel.module.category"
            name="Jupyter">
      </category>
   </extension>

</plugin>
